<ul>
  <% @listings.each do | listing | %>

    <li>
      <%= link_to listing.item_name, listing_path(listing) %><br />
      Available until: <%= listing.available_until_readable %>

      <%= button_to "Claim" %>
      <% end %>
    </li>


</ul>
