<% if @user %>
  <h1> Listings for <%= @user.name %> </h1>
<% end %>
<ul>
  <% @listings.each do |listing| %>
    <li><%= link_to listing.item_name, listings_path(@user, listing) %></li>
  <% end %>
</ul>
