<h1> Your Conversations </h1>

<%= link_to "New Conversation", new_conversation_path %>

<% @conversations.each do | conversation | %>

  <div class="card">
    <%= link_to conversation.subject, conversation_path(conversation) %>
  </div>

<% end %>
