<h1>My Conversations</h1>

<p>
  <%= link_to "Start A Conversation to arrange a pick-up!", new_conversation_path %>
</p>

<% @conversations.each do |conversation| %>

  <div class="card">
    <%= link_to conversation.subject, conversation_path(conversation) %><br />
    with:
    <% conversation.recipients.each do |recipient| %>
      <% if recipient != current_user %>
        <%= recipient.name %>
      <% end %>
    <% end %>
  </div>

<% end %>
