<h1> <%= @conversation.subject %> </h1>

<% @conversation.receipts_for(User.first).each do | receipt | %>
  <div>
  <div>  <%= receipt.message.sender.name %> commented:</div>
  <p> <%= receipt.message.body %> </p>
  </div>

  <% end %>
