<ul class="unlist">
  <% @listings.each do |listing| %>
    <li class="card listing animated flipInX">
      <%= link_to listing.item_name, listing_path(listing) %><br />
      Available until: <%= listing.available_until_readable %><br />
      <%= link_to "Edit this listing", edit_listing_path(listing) %> |
      <%= link_to "Delete this listing", listing, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{listing.item_name}"  %>
    </li>
  <% end %>
</ul>
