<%# Ensure user is logged in, and can only view THEIR OWN dashboard %>

<h1>Welcome, <%= @user.name %>!</h1>

<p>Registration number: <%= @user.registration %></p>

<%# link_to "View my profile", ___ %>
<%# link_to "Edit my profile", ___ %>
