<h1>Welcome, <%= @user.name %>!</h1>

<div class="card">
  <p>Registration number: <%= @user.registration %></p>

  <%= link_to "View my profile", user_path(@user) %> |
  <%= link_to "Edit my profile", edit_user_path(@user) %>
</div>

<h2>My listings</h2>

  <% @listings.each do | mylisting | %>

    <% if (@user == current_user) && (current_user.is_provider? == false) && (@user.listing.claimed? == true) %>

        <li class="card listing animated flipInX">
    <% else %>
        <li redirect_back>
    <% end %>
  <% end %>
