<div class="card">
  <h1>About Providers</h1>

  <h2>Food providers</h2>
  <p>Restaurants, caterers, and event planners: you can provide food to people who need it!</p>
  <p><%= link_to 'See current providers', providers_path %></p>
  <p><%= link_to 'Sign up!', new_user_path %></p>
</div>
