<h1>About PlateAgain </h1>
<p class="about-us">
  Approximately 40% of the food produced in Canada annually is wasted or thrown out. This amounts to about $31 billion annually, which accounts for only the wholesale cost of the food.
This is occurring at a time when poverty is at it’s highest in Canada and 1 in 7 Canadians are living in poverty. There is a dire need for food in organizations that cater to helping
and feeding the homeless however, food is often undersupplied. Enter PlateAgain.
</p>
<p class="about-us">
  PlateAgain is an application that assists in connecting businesses with excess food at the end of their evening or event, with shelters in the area in need of food. If businesses are finding they have additional food that is often thrown out at the end of the evening, they are encouraged to sign-up as a Provider, where they can create listings for their left-over food items and post them for shelters, or Acceptors, to claim and pick up. As an Acceptor, shelters will be able to search through listings and select available items based on their immediate needs. They will be put in contact with a representative from the business which whom they can make arrangements for pick-up.
</p>
<h1> About our Team & Our Application </h1>

<p class="about-us">
  Our team consisted of Paul, Sylvia, Amr, Sathes and Steve. We come from diverse
backgrounds and had different experiences and perspectives to contribute. We worked well
together as we were able to offer unique solutions and suggestions to team members working through problems.
</p>

<p class="about-us">
  Our main point of intersection was our decision to attend Bitmaker Labs. Though we all have different reasons for joining,
we wanted to join a growing field where we can solve problems by finding unique solutions, express our creativity and meet
other people with similar goals.
</p>

<p class="about-us">
We were also drawn to Web Development because it is an ever changing field, constantly evolving as technological advancements
are made and more people are going digital. The life-long commitment to learning and keeping our skills relevant is a welcomed
change from the mundane routine many of us had faced prior.
</p>

<p class="about-us">
We wanted to use our previous experience in additional to some of our newly obtained skills to create an application that is
of value to both user(s). Having worked in the restaurant/food industry, a common theme we noticed was the amount
of food wasted at the end of the night. There are often trays of prepared food that had gone uneaten, some unopened, thrown in to the
garbage without much thought. Our daily trips downtown, where poverty is most visible, inspired us to try to solve this problem by
facilitating the connection between places with excess food, and people in need of food.
</p>
<p class="about-us">
To solve this problem, we created PlateAgain. PlateAgain is web-based application primarily built using Rails, with the goal of redistributing
food that would otherwise be wasted to those in need.
</p>
<p class="about-us">
To do this, Users can sign up as a Provider to give food, or an Acceptor to receive. We wanted to keep the interface simple to make creating
listings as easy as possible. The main benefit to this is not creating work for the people to donate food, as the more obstacles there are the
less likely they will be to want to contribute. A Provider creates a listing with details about the item and who to contact to arrange for pick-up,
with an ‘Available Until’ date to indicate when the listing expires. We have also implemented an in-app messaging system to facilitate this interaction
and simplify things further by not requiring the User to leave our application to communicate with another User (unless preferred).
</p>
<p class="about-us">
As an Acceptor, shelters can browse food listings based on the date they are available until to see what is freshest. Once they click a listing, nearby listings
 will also be displayed, to allow for multiple pick-ups in the same area, or to select listings based on their proximity to the Acceptor. Once they’ve found
 a listing they would like to pick-up, they can click ‘claim’ which will let the Provider know who will be claiming the item, as well as displaying the item as
 claimed so others know it may no longer be available. They can then arrange for pick-up with the Provider through the in-app messaging, or externally through e-mail or by phone.
 </p>
