<div class="card">
  <h1>About Acceptors</h1>

  <p>If you run a meal program and need food, we can connect you with suppliers!</p>
  <p><%= link_to 'See current acceptors', acceptors_path %></p>
  <p><%= link_to 'Sign up!', new_user_path %></p>
</div>
