<div class="card">

  <div class="large-6 column">
    <h2>Food providers</h2>
    <p>You own or work for a business (any industry) that regularly has surplus food after an event, or as a result of regular business operations.
      The food is of good quality and safe for consumption, however due to space limitations or the nature of your business, it is often thrown out and
      goes uneaten. Sign up as a Provider to help those who can benefit from your surplus food!</p>
    <p><%= link_to 'See current providers', providers_path %></p>
    <p><%= link_to 'Sign up!', new_user_path, class: "button" %></p>
  </div>


  <div class="large-6 column">
    <h2>Food accepters</h2>
    <p>You are a registered charitable organization that is in need of food to serve patrons.
      Due to cost or budget restrictions, there are limited options available to you and would benefit
      from any additional donations. Sign up as an Acceptor today to start claiming listings nearby!</p>
    <p><%= link_to 'See current acceptors', acceptors_path %></p>
    <p><%= link_to 'Sign up!', new_user_path, class: "button" %></p>
  </div>
</div>
