#listing_expiry_date_1i,
#listing_expiry_date_2i,
#listing_expiry_date_3i,
#listing_available_until_1i,
#listing_available_until_2i,
#listing_available_until_3i,
#listing_available_until_4i,
#listing_available_until_5i {
  width: auto;
}

.listing {
  position: relative;
}
.provider-actions {
  position: absolute;
  top: 0;
  right:0;
  i {
    font-size: 1.5rem;
    padding-top:10px;
  }
}

li.card-claimed {
    background-color: pink;
}
