#listing_expiry_date_1i,
#listing_expiry_date_2i,
#listing_expiry_date_3i,
#listing_available_until_1i,
#listing_available_until_2i,
#listing_available_until_3i,
#listing_available_until_4i,
#listing_available_until_5i  {
  width: auto;
}

#claim {
  background-color: pink;
}

#claim {
  background-color: green;
}
