// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-home {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  h1 {
    position: relative;
    z-index: 2;
  }
  h2 {
    position: relative;
    z-index: 2;
    line-height: 1.2;
    color: $black;
    text-align: center;
    a {
      color: $black;
      border-bottom: 2px solid $color1;
    }
  }
}

.header-bg {
  height: 105%;
  width: 105%;
  position: absolute;
  top:-10px;
  left: -10px;
  z-index: 0;
  background: url('447733.jpg');
  background-size: cover;
  filter: blur(2px) opacity(50%);
}

.hide {
  display: none;
}
