// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-home {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  h1 {
    position: relative;
    z-index: 2;
    img {
      @media (max-width: 640px) {
        max-width: 250px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  h2 {
    position: relative;
    z-index: 2;
    line-height: 1.2;
    color: $black;
    text-align: center;
    margin-top: 2rem;
    a {
      color: $black;
      border-bottom: 2px solid $color1;
    }
  }
}

.header-bg {
  height: 105%;
  width: 105%;
  position: absolute;
  top:-10px;
  left: -10px;
  z-index: 0;
  background: url('https://images6.alphacoders.com/447/447733.jpg');
  background-size: cover;
  filter: blur(2px) opacity(50%);
}

.about-us {
  text-indent: 30px;
}
