// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-header {
  img {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
  }
}
.user-tabs {
  width: 100%;
  padding: 0 1rem;
  background: rgba(96,114,137,0.8);
}

.addthis_inline_share_toolbox {
  text-align: center;
  padding-bottom: 1rem;
}
