// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-header {
  img {
    width: 100%;
  }
}
.user-tabs {
  width: 100%;
  padding: 0 1rem;
  background: rgba(96,114,137,0.8);
}
