<header class="header-home">
  <div class="header-bg"></div>
  <h1 class="medium-7 columns">
    <%= image_tag 'plate-again-logo.png', class: 'header-logo animated bounceInDown', alt: "PlateAgain logo" %>
  </h1>
  <h2 class="medium-5 columns animated bounceInUp">
    Connecting <%= link_to 'providers', providers_path %> of surplus foods with <%= link_to 'accepters', acceptors_path %> who can feed the hungry!
  </h2>
</header>
